.header-wrapper{
    background-color: var(--theme);
    margin: 0;
    padding: 1rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size: 1rem;
    position: sticky;
}

.logo{
    color:var(--white);
}

.logout{
    opacity: 0.8;
    color: var(--white);
}

.logout:hover{
    opacity: 1.5;
}

@media only screen and (max-width: 425x){
  .header-wrapper{
    width:100%;
  }

  .logout{
    margin-right: 30px;
  }
}

