.signupcomponent{
    width: 30%;
    height: auto;
    box-shadow: var(--shadow);
    padding-bottom: 1rem;
    
}

.logotitle{
    text-align: center;
    padding: 1rem;
    font-size: 1.rem;
}

.ortext{
    text-align: center;
    margin: 0.5rem;
}

.p-tag{
    text-align: center;
    cursor: pointer;
    font-weight: 300;
    margin-top: 0.5rem;
}